@CHARSET "UTF-8";

.main-header {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrzNwmyGe2Yi5V3gzjdD5f1Lxb6RqVuAztuoRfFqIqvZWKJFCihg') 
        center/cover no-repeat;          
    margin: 0 auto; 
    height: 400px; 
    font-size : 5em;
    font-family: 'Comfortaa', cursive;
    color: sienna;
    text-align:center;
        }

.zag {
	font-family: 'Comfortaa', cursive;
    font-size : 2em;
	color: sienna;
	float: right;
     }
                        
ul.sp-menu {
        margin-top: 50px;
        text-align: justify;
        display: table;
        margin: auto; 
       
   }
ul.sp-menu li {
    display: inline-block; 
    margin-right: 20px; 
    border: none;  
    padding: 3px; 
              }                                   

.a {text-decoration: none; }
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
       }				

.text {
        font-family: Arial;
	    color: black;
        font-size: 12px;
       } 

.ill  {  height: 100px; 
         width: 100px; 
	  float: left;  
      margin: 3px 12px 0px 0px; px;
	  alt="????" ;
      }

.chapter {font-family: Comic Sans;
	   color: blue;
      font-size: 15px;
         }

.contener {
    background: burlywood;
    weight: 1140px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;  
    
}       
.colf2 {
    weight: 360px;
    float: right; 
    height: 100px; 
}
.colf1{
    weight: 360px;
    float: left; 
    height: 100px; 
}
.txtfoot {
    font-family: 'Comfortaa', cursive;
    font-size : 1em;
	color: sienna;
}
icnfoot {
    weight: 60px;
    height: 60px;
    margin-right: 20px;
}
